.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
.container form{
height: fit-content;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 160, 156);
  padding: 2vw 3vw;
}
.container button {
  padding: 1vw 3vw;
  background-color: #e2f1f0;
  border: none;
  cursor: pointer;
  margin: 2vw;
  font-size:1vw;
}
