.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 12vw;

  }
  .image img{
    width:10vw;
    max-height: 12vw;
    border-radius: 20px;
    cursor: pointer;
    object-fit:contain;
  }