.container {
  background-color: #0a0c39;
  background-image: linear-gradient(135deg, #080924 0%, #07053a 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100vh;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topMain {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topMain img {
  display: block;
  width: 2.8vw;
}
.topMain h3 {
  font-size: calc(1.5vw + 10px);
}
.topMain h5 {
  color: rgb(151, 153, 182);
  margin-bottom: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.main h1 {
  font-size: 5vw;
  margin: 0;
  align-self: center;
}
.main h5 {
  margin-top: 0;
  color: rgb(151, 153, 182);
  font-size: calc(1vw + 5px);
}
.main span {
  font-size: 2vw;
  max-height: min-content;
}
.underMain {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  color: rgb(151, 153, 182);
  font-size: calc(1vw + 3px);
  max-height: min-content;
}

.rainChance h3 {
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .container {
    height: max-content;
    min-height: 100vh;
    padding-top: 0.1rem;
    max-width: 100%;
  }
  .topMain h3 {
    font-size: calc(3.5vw + 10px);
  }
  .topMain img {
    width: 10vw;
  }
  .main h1 {
    font-size: 16vw;
  }
  .main h5 {
    font-size: calc(2.3vw + 10px);
    max-height: fit-content;
  }
  .main span {
    font-size: 6vw;
  }
  .underMain {
    width: max-content;
    max-height: min-content;
    font-size: calc(2vw + 3px);
  }
  .rainChance h3 {
    font-size: 0.5vw;
  }
  .rainChance {
    max-height: 35vw;
  }
}

@media (max-width: 380px) {
  .container {
    height: max-content;
    min-height: 100vh;
    padding-top: 0.1rem;
  }
  .topMain h3 {
    font-size: calc(3.5vw + 10px);
  }
  .topMain img {
    width: 10vw;
  }
  .main h1 {
    font-size: 16vw;
  }
  .main h5 {
    font-size: calc(2.3vw + 10px);
    max-height: fit-content;
  }
  .main span {
    font-size: 6vw;
  }
  .underMain {
    width: max-content;
    max-height: min-content;
    font-size: calc(2vw + 3px);
  }
  .rainChance h3 {
    font-size: 0.5vw;
  }
  .rainChance {
    max-height: fit-content;
  }
}
